*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman",  Times, serif;
    scroll-behavior: smooth;
}
.cart-item{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    background: #ff6666;
    border-radius: 15px;
    margin: 1%;
    padding: 5%;
    color: #293241;
}
.cart-item h2{
    margin: 5%;
    font-size: 20px;
}
.cart-item p{
    margin: 5%;
    font-size: 15px;
}
.cart-item button{
    padding: 5px 8px;
    background: #e0fbfc;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease; 
}
.cart-item button:hover{
    background: #293241;
    color: #e0fbfc;
}

.abc{
	text-shadow: 2px 2px 5px blue;
	font-family: "Times New Roman",  Times, serif;
	font-style: italic;
}

#a1{
	font-size: 20px;
}

.ab{
	color:White;
	font-size: 20px;
}

#social{
	width: 170px;
	height:40px;
	
}

.buttons-toggle-items{
    background:#98c1d9 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggleBtns{
    padding: 20px 10px;
    background:#98c1d9 ;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 15px;
    margin: 0px 15px;
}
.toggleBtns:hover{
    background:#3d5a80 ;
    color: #e0fbfc;
}
.toggleBtns:focus{
    outline: none;
}
.cartBtn{
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
}
.cartBtn:focus{
    outline: none;
}
.cartBtn:hover{
    transform: scale(0.7);
}
#counter{
    padding: 2px 3px;
    background: #ee6c4d;
    border-radius:1px ;
}
.items{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    text-align: center;
    margin: 5%;
    border-radius: 20px;
}
.item-image{
    width: 270px;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid black;
}
.card h2{
    font-size: 30px;
    padding: 5%;
	
}
.card p{
    width: 50%;
    padding: 3%;
	color:white;
	font-size:16px;
}
.card h3{
    font-size: 25px;
    padding: 2%;
	
	
}
.card button{
    padding: 15px 20px;
    background-color: #fffb93f0;
    border: none;
    color: #293241;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
	font-weight:bold;
}
.card button:hover{
    background: #293241;
    color: #ee6c4d;
}
.card button:focus{
    outline: none;
}
.divider{
    display: flex;
}
.cart{
    position: absolute;
    right: 0px;
    background: #e0fbfc;
    min-height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 1%;
    z-index: 2;
    flex-direction: column;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background: rgba(41, 50, 65, 0.75);
    padding: 20px;
    border-radius: 20px;
    position:fixed;
    top: 10px;
    width: 90%;
    box-shadow: 0px 0px 5px #293241;
}
.nav-items{
    display: flex;
    list-style: none;
}
.items-nav a{
    color: #e0fbfc;
    text-decoration: none;
    padding: 10px;
    transition: all 0.2s ease;
}
.items-nav a:hover{
    border-bottom: 2px solid #e0fbfc;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
	
}
.right-nav h3{
    margin-right: 3%;
}

.container{
    height: 100vh;
    background: linear-gradient(90deg, rgba(255,255,255,0.50), rgba(41,50,65,0.60)),url('https://images.pexels.com/photos/3797991/pexels-photo-3797991.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')center center no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}
.container-in{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-top,.right-top{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #293241;
    text-align: center;
}
.left-top h1{
    font-size: 80px;
    font-weight: bolder;
}
.footer{
    background: #293241;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.left-bottom{
    padding: 10px;
}
.left-bottom img{
    filter: invert(1);
}
.right-bottom{
    color: #e0fbfc;
    padding: 10px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
.left-about,.right-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.right-about img{
    width: 90%;
}
.left-about{
    padding: 10px;
	text-align:justify;
	font-size:20px;
	background:#e3d9f2;
	border-radius: 20px;
}
.left-about p{
    width: 90%;
}


.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:5%;
    padding-bottom: 5%;
}
.left-reviews{
    width: 50%;
    text-align: center;
}
.left-reviews img{
    width: 90%;
}
.right-reviews{
    width: 50%;
    text-align: center;
    padding: 20px;
    background:#e0fbfc;
    margin: 10px;
    border-radius: 20px;
}
.right-reviews h1{
    padding: 20px;
}
.right-reviews img{
    width: 150px;
    height: 150px;
    border: 2px dotted #ee6c4d;
    border-radius: 200px;
    padding: 5px;
}
.right-reviews p{
    padding: 15px;
}
.right-reviews button{
    padding: 10px 20px;
    background: #293241;
    color: #ee6c4d;
    border: none;
    margin: 5px;
    transition: all 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
}
.right-reviews button:hover{
    color: #293241;
    background: #ee6c4d;
}
.right-reviews button:focus{
    outline: none;
}
#menu-toggle{
    display: none;
}

@media only screen and (max-width: 990px) {
    .items{
        grid-template-columns: repeat(2,1fr);
    }
    .container-in{
        flex-direction: column;
    }
    .about{
        flex-direction: column;
        width: 100%;
    }
    .left-about{
        width: 90%;
    }
    .right-about{
        width: 90%;
    }
    .reviews{
        flex-direction: column;
    }
    .right-reviews{
        width: 90%;
    }
    .left-reviews{
        width: 90%;
    }
    .cart{
        width: 50%;
    }
}
@media only screen and (max-width: 660px) {
    .items{
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .cart{
        width: 85%;
        position: fixed;
        left: 0px;
        top: 20%;
    }
    .cartBtn{
        position: fixed;
        top: 50%;
        right: 10px;
        background: #293241;
        padding: 5px;
        border: 1px solid #ee6c4d;
    }
    .cartBtn img{
        filter: invert(1);
    }
    .cart-item{
        padding: 0px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        background: rgba(41, 50, 65, 0.75);
        padding: 10px;
        border-radius: 20px;
        position:fixed;
        top: 10px;
        width: 87%;
        box-shadow: 0px 0px 5px #293241;
        flex-direction: column-reverse;
    }
    .nav-items{
        list-style: none;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        display: none;
    }
    .items-nav{
        margin: 10px;
    }
    .items-nav a{
        color: #e0fbfc;
        text-decoration: none;
        transition: all 0.2s ease;
        padding: 5px;
    }
    .items-nav a:hover{
        border-bottom: 2px solid #e0fbfc;
    }
    .right-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #e0fbfc;
        flex-direction: row-reverse;
        width: 100%;
    }
    .right-nav h3{
        display: none;
    }
    #menu-toggle{
        width: 40px;
        filter: invert(1);
        cursor: pointer;
        display: block;
        transition: all 0.3s ease;
    }
    .buttons-toggle-items button{
        font-size: 0.5rem;
    }
    .right-reviews{
        width: 85%;
    }
    .green,.red{
    padding: 10px;
    position: fixed;
    bottom: 10px;
    width: 90%;
    border-radius: 10px;
}

}
.green,.red{
    padding: 10px;
    position: fixed;
    top: 90%;
    right: 2%;
    width: 30%;
    border-radius: 10px;
}
.green{
    background: rgba(82, 183, 136, 0.7);
}
.red{
    background:rgba(214, 40, 40, 0.7) ;
}
.alert{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#check{
    padding: 10px;
    background: #ff6666;
    color: green;
    border: none;
    border-radius: 20px;
    margin: 5px;
    transition: all 0.3s ease;
}
#check:hover{
    background: yellow;
    
}
#check:focus{
    outline: none;
}

#ColoringBg{
     background-image:url("https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
 }


